.divclass1{
    height:300px;
    width:300px;
    border:1px solid black;
    background-color:burlywood ;
    line-height: 300px;
    text-align: center;
    font-size: x-large;
    color: blue;
}

.divclass2{
    height:300px;
    width:300px;
    border:1px solid black;
    background-color:rgb(37, 163, 121) ;
    line-height: 300px;
    text-align: center;
    font-size: x-large;
    color: rgb(148, 39, 148);
}

.divclass3{
    height:300px;
    width:300px;
    border:1px solid black;
    background-color:rgb(37, 163, 121) ;
    line-height: 300px;
    text-align:left;
    font-size: x-large;
    color: rgb(148, 39, 148);
}